<div class="home__container">
    <app-card 
        gameCover="assets/ac-cover.jpg"
        gameLabel="DIGTAL"
        gameTipo="PS5"
        gamePreco="R$ 199,99"
    ></app-card>

    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="EXCLUSIVO"
        gameTipo="PS4"
        gamePreco="R$ 148,99"
    ></app-card>

    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="FÍSICO"
        gameTipo="PC, PS5"
        gamePreco="R$ 486,95"
    ></app-card>

    <app-card 
        gameCover="assets/bt-5.jpg"
        gameLabel="DIGITAL"
        gameTipo="PC, PS4, PS5"
        gamePreco="R$ 236,99"
    ></app-card>

    <app-card 
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="NEW"
        gameTipo="PC, PS3, PS4, PS5"
        gamePreco="R$ 386,99"
    ></app-card>

    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="EXCLUSIVO"
        gameTipo="PC, PS4, PS5"
        gamePreco="R$ 336,90"
    ></app-card>
</div>
