<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="assets/ps-logo.png" 
            alt="playstation logo" 
            srcset=""
            width="140px"
            height="32px"
        >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.instagram.com/agryo/" target="_blank">INSTAGRAN</a></li>
            <li><a href="https://www.linkedin.com/in/agryo/" target="_blank">LINKEDIN</a></li>
            <li><a href="https://github.com/agryo" target="_blank">GITHUB</a></li>
            <li><a href="https://agryo.cruzeta.com.br" target="_blank">SUPORTE</a></li>
        </ul>
    </div>
</div>